@model WebApp.ViewModels.PatientViewModel
@{
    ViewBag.Title = "Добавление игрока";
}
<h2>Добавление пациента</h2>
<form asp-action="CreatePatient" asp-controller="Db">
    <div asp-validation-summary="All"></div>
    <p>
        <label asp-for="Surname">Фамилия</label><br />
        <input type="text" asp-for="Surname" />
        <span asp-validation-for="Surname" />
    </p>
    <p>
        <label asp-for="Name">Имя</label><br />
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name" />
    </p>
    <p>
        <label asp-for="Patronymic">Отчество</label><br />
        <input type="text" asp-for="Patronymic" />
        <span asp-validation-for="Patronymic" />
    </p>
    <p>
        <label asp-for="Age">Возраст</label><br />
        <input type="number" asp-for="Age" />
        <span asp-validation-for="Age" />
    </p>
@*    <p>
        <label asp-for="DoctorId">Id доктора</label><br />
        <input type="text" asp-for="DoctorId" />
        <span asp-validation-for="DoctorId" />
    </p>*@
    <p>
        Лечащий врач <br />
        @Html.DropDownListFor(model => model.DoctorId, ViewBag.Doctors as SelectList)
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>